a:link{
    color: aqua;
}
a:visited{
    color: blue;
}
a:hover{
    color: blueviolet;
    text-decoration: underline;
    font-family: cursive;
    
}
a:active{
    color: coral;
}

h1{
    background-color: brown;
}